In [1]:
import pandas as pd
data = [(1,2,3),

        (4,5,6),

        (7,8,9)];

data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [3]:
df=pd.DataFrame(data, index=("R1", "R2", "R3"), columns=("C1", "C2", "C3"))
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [5]:
y=df.to_dict()

In [6]:
print (y)

{'C1': {'R1': 1, 'R2': 4, 'R3': 7}, 'C2': {'R1': 2, 'R2': 5, 'R3': 8}, 'C3': {'R1': 3, 'R2': 6, 'R3': 9}}